<div class="container_16">
  <%= render "share/h1"  %>
  <div class="grid_16" id="main_contents">

    <!-- 左側 -->
    <%= render "share/left_adsense"  %>
    <!-- 真ん中 -->
    <div class="grid_10">
      <h2>今日のオリコンランキング</h2>
      <p>画像をクリックすると当該サイトに飛びます。</p>
      <table class="ranking">
        <caption>オリコンから集計</caption>
        <tr><th>順位</th><th>アーティスト</th><th>曲名</th><th>画像</th></tr>
	<% @rankings.each do |ranking| %>
          <tr>
	    <td><%= ranking.ranking  %></td><td><%= ranking.music.artist.name  %></td><td><%= ranking.music.name  %></td>
	    <td>
	      <%= link_to :controller => "rankings", :action => "each_page", :id => ranking.music.addr do %>
		<img src="http://i.ytimg.com/vi/<%= ranking.music.addr %>/default.jpg" alt="<%= ranking.music.addr %>" />
	      <% end %>
	    </td>
          </tr>
        <% end %>
      </table>
    </div>
    <!-- 右側 -->
    <%= render "share/sidemenu" %>
  </div>
</div>


